<?xml version="1.0"?>
<model>
  <name>Drone_Full_URDFV3</name>
  <version>1.0</version>
  <sdf version="1.11">Drone_Full_URDFV3.sdf</sdf>

  <author>
   <name>Jaramy Theerawath</name>
   <email>theerawath.p_s22@vistec.ac.th</email>
  </author>

  <description>
    Agi drone
  </description>
</model>
